<div class="footer">
    <div class="footerText">
        <ul class="legal">LEGAL
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Refund Policy</li></a>
            <a href="#"><li>Terms of Service</li></a>
        </ul>
        <ul class="legal">CUSTOMER SERVICE
            <a href="#"><li>Contact us</li></a>
            <a href="#"><li>Customer Reviews</li></a>
            <a href="#"><li>About us</li></a>
        </ul>
        <div class="legal">FOLLOW US
            <ul class="legalImg">
                <a href="#"><li><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></li></a>
                <a href="#"><li><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></li></a>
                <a href="#"><li><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></li></a>
            </ul>
        </div>
    </div>
</div>