<h1 class="title" id="launch">launchpads</h1>
<hr>
<div class=products-column>
    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/launchpad/71vwVV6Rk1L._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/launchpad/81THLcdv9eL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount1 #fav1>
            <div class="buttons">
                <button class="Button button1" (click)="updateLaunchpadCart1(amount1)">to cart</button>
                
                <button class="Button button1"(click)="updateLaunchpadFav1(fav1)">favorite</button>
            </div>
        </div>
        <!-- <div style="background-color: aqua;">
            <p> {{ guitarAmount }} </p>
             <p> {{amount}} </p> 
        </div> -->
    </div>

    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/launchpad/81KYf1ltlUL._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/launchpad/8115+DX62kL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount2 #fav2>
            <div class="buttons">
                <button class="Button button1" (click)="updateLaunchpadCart2(amount2)">to cart</button>
                <button class="Button button1" (click)="updateLaunchpadFav2(fav2)">favorite</button>
            </div>
        </div>
        
    </div>

    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/launchpad/71J1L8kHO2L._AC_SL1000_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/launchpad/91TRAQS9HTL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input  min = 0  max = 10 class="input" type="number" #amount3 #fav3>
            <div class="buttons">
                <button class="Button button1" (click)="updateLaunchpadCart3(amount3)">to cart</button>
                <button class="Button button1"(click)="updateLaunchpadFav3(fav3)">favorite</button>
            </div>
        </div>
   
    </div>

    
    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/launchpad/61DykrxAuhL._AC_SL1200_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/launchpad/51hTh0VaTNL._AC_SL1200_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount4 #fav4>
            <div class="buttons">
                <button class="Button button1" (click)="updateLaunchpadCart4(amount4)">to cart</button>
                <button class="Button button1" (click)="updateLaunchpadFav4(fav4)">favorite</button>
            </div>
        </div>
    
    </div>
    

    
    
</div>



