<div style="display: flex;align-items: center;">
    <div class="Logo">
        <div class="centerLogo">
            <a class="logo" href="#"><img src="../../../assets/image/Webp.net-resizeimage (2).png" alt="logo"> musicShop</a>
        </div>
    </div>
    <div class="background">
        <p class="backgroundText">one of the greatest music shop</p>
    <div style="display: flex; justify-content: space-between;">
        <div class="favorite">
            <a href="#" class="favoriteText"><img class="favoriteImg" src= "https://img.icons8.com/ios/30/000000/hearts--v1.png" />favorite({{Fav}})</a>
        </div>
        <div class="favorite">
            <a href="#" class="favoriteText"><img  class="favoriteImg"src="https://img.icons8.com/ios/26/000000/shopping-cart.png"/>cart ({{amount}})</a>
        </div>
        <div class="login">
            <a href="#" class="logintxt"><img class="loginImg"src="https://img.icons8.com/metro/26/000000/gender-neutral-user.png"/>log in</a>
        </div>
    </div>
    </div>
</div>