<div class="row"> 
    <div class="column">
        <div class="container">
            
            <img src="../../../assets/image/drum-set-1060x707.jpg" style="width:100%">
            <div class="content">
            <button>See More</button>
            </div>
        </div>      
        <div class="container">
            <img src="../../../assets/image/Webp.net-resizeimage (1).jpg" style="width:100%">
            <div class="content">
            
            <button>See More</button>
            </div>
        </div>    
    </div>
    <div class="column">
        <div class="container">
            <img src="../../../assets/image/how-many-strings.jpg" style="width:100%">
            <div class="content">
            
            <button>See More</button>
            </div>
        </div>   
        <div class="container">
            <img src="../../../assets/image/when-to-practice-piano-1060x706.jpg" style="width:100%">
            <div class="content">
            
            <button>See More</button>
            </div>
        </div>   
    </div>
</div>