<h1 class="title" id="drums">drums</h1>
<hr>
<div class=products-column>
    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/drum/71yxIjuOOTL._AC_SL1228_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/drum/51LHCkLvoWL._AC_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount1 #fav1>
            <div class="buttons">
                <button class="Button button1" (click)="updateDrumCart1(amount1)">to cart</button>
                
                <button class="Button button1"(click)="updateDrumFav1(fav1)">favorite</button>
            </div>
        </div>
        <!-- <div style="background-color: aqua;">
            <p> {{ guitarAmount }} </p>
             <p> {{amount}} </p> 
        </div> -->
    </div>

    <div class="buy">
        <div class="products">
            <img src="../../../assets/image/drum/71nJgkQau1L._AC_SX679_.jpg">
            <div class="overlay">
                <img src="../../../assets/image/drum/71fc3v64E7L._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount2 #fav2>
            <div class="buttons">
                <button class="Button button1" (click)="updateDrumCart2(amount2)">to cart</button>
                <button class="Button button1"(click)="updateDrumFav2(fav2)">favorite</button>
            </div>
        </div>
        
    </div>

    <!-- <div class="buy">
        <div class="products">
            <img src="assets/image/71F6ewSo40L._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="assets/image/71BKLWrmkIL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input  min = 0  max = 10 class="input" type="number" #amount3>
            <button class="Button button1" (click)="updateElectricGuitarCart2(amount3)">to cart</button>
            <button class="Button button1"(click)="updateDrumFav1(fav1)>favorite</button>
        </div>
   
    </div>

    
    <div class="buy">
        <div class="products">
            <img src="assets/image/81Nv-0nuJfL._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="assets/image/71dW85numvL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount4>
            <button class="Button button1" (click)="updateLesPaulGuitarCart(amount4)">to cart</button>
            <button class="Button button1">favorite</button>
        </div>
    
    </div> -->
    

    
    
</div>



