<div class="navbar">
    <div class="dropdown">
        <button (click)="myFunction()" class="dropbtn">Products <img class="arrow" src="https://img.icons8.com/metro/20/000000/expand-arrow.png"></button>
        <ul id="myDropdown" class="dropdown-content">
            <a href="#guitars" class="product"><li>guitar</li></a>
            <a href="#piano" class="product"><li>piano</li></a>
            <a href="#drums" class="product"><li>drum</li></a>
            <a href="#launch" class="product"><li>launchpad</li></a>
        </ul>
    </div>
    <form>
        <input class="search" type="text" placeholder="search">
    </form>
</div>
<div style="display: flex;align-items: center;">
    <div class="Logo1"></div>
    <div class="background1"></div>
</div>