<h1 class="title" id="piano">piano</h1>
<hr>
<div class=products-column>
    <div class="buy">
        <div class="products">
            <img src="assets/image/piano/51czQZt9AfL._AC_SL1059_.jpg">
            <div class="overlay">
                <img src="assets/image/piano/71wZ9tkirQL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount1 #fav1>
            <div class="buttons">
                <button class="Button button1" (click)="updatePianoCart1(amount1)">to cart</button>

                <button class="Button button1"(click)="updatePianoFav1(fav1)">favorite</button>
            </div>
        </div>
        <!-- <div style="background-color: aqua;">
            <p> {{ guitarAmount }} </p>
             <p> {{amount}} </p> 
        </div> -->
    </div>

    <div class="buy">
        <div class="products">
            <img src="assets/image/piano/81od6jVzz4L._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="assets/image/piano/81JIKP0eY0L._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount2 #fav2>
            <div class="buttons">
                <button class="Button button1" (click)="updatePianoCart2(amount2)">to cart</button>
                <button class="Button button1" (click)="updatePianoFav2(fav2)">favorite</button>
            </div>
        </div>
        
    </div>

    <div class="buy">
        <div class="products">
            <img src="assets/image/piano/71F6ewSo40L._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="assets/image/piano/71BKLWrmkIL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input  min = 0  max = 10 class="input" type="number" #amount3 #fav3>
            <div class="buttons">
                <button class="Button button1" (click)="updatePianoCart3(amount3)">to cart</button>
                <button class="Button button1" (click)="updatePianoFav3(fav3)">favorite</button>
            </div>
        </div>
   
    </div>

    
    <div class="buy">
        <div class="products">
            <img src="assets/image/piano/81Nv-0nuJfL._AC_SL1500_.jpg">
            <div class="overlay">
                <img src="assets/image/piano/71dW85numvL._AC_SL1500_.jpg">
            </div>
        </div>
        <div class="shop">
            <input min = 0  max = 10 class="input" type="number" #amount4 #fav4>
            <div class="buttons">
                <button class="Button button1" (click)="updatePianoCart4(amount4)">to cart</button>
                <button class="Button button1" (click)="updatePianoFav4(fav4)">favorite</button>
            </div>
        </div>
    
    </div>
    

    
    
</div>



